---
layout: default
title: Mainpage
---
<!-- Content
    ================================================== -->
  <div class="top-strip"></div>
  <div class="content">
    <main class="container">
    	<div class="row-fluid">
    		<section class="content">
    		  <h1>Blog of Shahbaz Chaudhary</h1>
    		</section>
        <div style="text-align: center">
          <a href="mailto:shahbazc@gmail.com"><i class="icon-envelope-alt black"></i></a>
          <a href="https://github.com/falconair"><i class="icon-github-alt black"></i></a>
          <a href="https://www.linkedin.com/pub/shahbaz-chaudhary/2/427/25a"><i class="icon-linkedin-sign black"></i></a>
          <a href="http://targetcompid.com"><i class="icon-signal black"></i></a>
        </div>

    		<ul class="entries">
          {% for post in paginator.posts %}
    		  <li>
    		    <a href="{{ post.url }}">
                      <span>{{ post.date | date: "%d %B %Y" }}</span>
    		        <h3>{{ post.title }}</h3>
                      <div>{{ post.content |truncatehtml | truncatewords: 30 }}</div>
    		    </a>
    		  </li>
    		{% endfor %}
    		</ul>
    	</div>
      <hr>
      <div id="post-pagination">
        {% if paginator.previous_page %}
        <p class="prev">
          {% if paginator.previous_page == 1 %}
          <a href="/">Previous</a>
          {% else %}
          <a href="/page{{paginator.previous_page}}"> Previous</a>
          {% endif %}
        </p>
        {% else %}
<!--         <p class="prev disabled">
          <span>Previous</span>
        </p> -->
        {% endif %}

        <ul class="pages">
          <li class="page">
            {% if paginator.page == 1 %}
<!--             <span class="current-page">1</span> -->
            {% else %}
            <a href="/">1</a>
            {% endif %}
          </li>

          {% for count in (2..paginator.total_pages) %}
          <li class="page">
            {% if count == paginator.page %}
            <span class="current-page">{{count}}</span>
            {% else %}
            <a href="/page{{count}}">{{count}}</a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>

        {% if paginator.next_page %}
        <p class="next">
          <a href="/page{{paginator.next_page}}">Next</a>
        </p>
        {% else %}
<!--         <p class="next disabled">
          <span>Next</span>
        </p> -->
        {% endif %}
      </div>

    </main>
  </div>
